body {
  margin: 0;
  font-family:'AktivGrotesk', Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #16202b;
  color: #fff;
}
  button {
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: .688rem 1.5rem;
    margin: 1rem 0;
    width: 100%;
    font-weight: 300;
    background: #233143;
    color: #fff;
    border: none;
  }

  button:hover, button:disabled {
    background: #fff;
    color: #000;

  }

  input {
    box-sizing: border-box;
    color: #323232;
    font-size: 18px;
    height: 48px;
    font-family: 'Abel', Arial, Verdana, sans-serif;
    width: 60%;
    position: relative;
    top: 1px;
  }
  